* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  opacity: 80%;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 18px;
}

/* Section styles */
.section {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  padding-top: 50px; /* To avoid the navbar overlapping the content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Home {
  background: linear-gradient(45deg, rgb(224, 82, 30), rgb(120, 217, 255));
  animation: gradientAnimation 2s ease-in-out infinite;
  color: white;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#Home h1 {
  margin: 0;
  font-size: 100px;
  font-weight: bolder;
}

.subtitle {
  margin-top: 10px;
  text-align: center;
  font-size: 60px;
}

#About {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(223, 223, 231);
}

#Skills {
  background-color: white;
}

#Skills h1{
  font-size: 70px
  
}

@media (max-width: 768px) {
  .section {
    height: 50vh;
    width: 100vw;
  }
  #Home h1 {
    font-size: 50px;
    padding-left: 20vw;
  }
  #About h1 {
    font-size: 50px;
  }

.card-content p{
  font-size: x-large;
}
  #Skills h1 {
    font-size: 50px;
  }
  .subtitle {
    font-size: 30px;
  }
}

#Contact-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(223, 223, 231);
}

.half-left{
  font-size:xx-large;
  position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.half-right{
  position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;

}

#form {
  position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 20px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10%;
}

.form-group {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 80%;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.card {
  width: 60%;
  margin: auto;
  background-color: #f5f5f5;
  padding: 20px;
  opacity: 80%;
  border-radius: 10%;
  position: relative;
}

.card-content {
  font-size: 30px;
  text-align: left;
}

.progress-bar {
  width: 50%;
  margin: 10vh;
  
}

.inner-bar{
  margin-top: 5vh;
  height: 30px;
  width: 100%;
  line-height: 30px;
  color: white;
  text-align: center;
  background-color: grey;
}

.progress {
  margin-top: 5vh;
  height: 30px;
  line-height: 30px;
  color: white;
  text-align: center;
  background: linear-gradient(45deg, rgb(224, 82, 30), rgb(120, 217, 255));
}

.skill {
  float: left;
  padding-left: 5px;
}

.percent {
  float: right;
  padding-right: 5px;
}

.skill-note {
  width: auto;
  margin-bottom: 5%;
}

footer{
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 3vh;
}
